<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>404</title>    
</head>

<h1>Error 404 </h1>
<h2>Opps...</h2>
<p>Something has happen to the page... or it does not exist</p>