<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>About</title>
    
    {{!-- i might move the css into the main html file --}}
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/@mdi/font@6.5.95/css/materialdesignicons.min.css">
    
</head>


<div style="text-align: center;">

    <h1>Adrian Perez</h1>      

    <img class="centerimg" alt="Adrian's headshot image" src="/img/image-adrian.jpg" width="200" height="200" title="Headshot">

    <p>
        <a href="mailto:adrianjperez@lewisu.edu">Email: adrianjperez@lewisu.edu</a>
        <span class="mdi mdi-content-copy" title="Copy" onclick="copyEmail()"></span>
    </p>
    
</div>

<h2>Introduction</h2>

<p>
   Hello person welcome to my website as you saw up top my name is Adrian and I recently graduated in May 2022 at Lewis University. I did school full time for four years in a row, where I also work during the weekends at Dunkin Donuts. So, most I spent most of my time doing homework, learning something new, or just working. My family lives in Joliet, which is about a 15 to 20 min drive from Lewis depending on the traffic. I am the oldest sibling in my family, including me there are four of us. I majored in Computer Science with a focus on Software Engineering, along with a minor in Mathematics.

<h3>What I Hope to Learn </h3>
<ul style="list-style-type: square;">
    <li>Learn more about back end</li>
    <li>Learn front end</li>
    <li>familiarize myslef with common devlopment technologys</li>
</ul>

<h3>My Favorite Hobby</h3>
<p>
    When I have time for my hobbies, my favorite one is watching tv or some kind of videos like going on YouTube there is something about this that I find relaxing. This hobby is quite simple compared to some of my other hobbies, all I have to do is just lay on the couch and turn on the tv, but this hobby can get old pretty fast if there is not anything interesting to watch. So, some other hobbies of mine are playing some video games with my mates, going through social media (looking at memes), practicing the trumpet, and messing around with computers. These are some of my current hobbies that I like to do when I find myself with free time.
</p>

<h3>Greatest Innovation</h3>
<ul style="list-style-type: square;">
    <li>The Internet - Its like everyone uses and relies on the internet <a
            href="https://www.britannica.com/technology/Internet" target="_blank">Link</a></li>

    <li>Linux - There seem to many uses for this OS and it's still relevant <a
            href="https://www.britannica.com/technology/Linux" target="_blank">Link</a> </li>

    <li>Intel - The company that lead the way for CPUs <a href="https://www.siliconvalleyhistorical.org/intel-history" target="_blank">Link</a></li>

</ul>

<h3>Fun Fact!</h3>
<p>A fun fact about me is that if I were to choose a superpower it would be super speed </p>