<!--i miht make this page extension into a html-->

<!DOCTYPE html>

<html lang="en-US">

<!--
    Name: Adrian Perez
    Class: Software Eng.
    Description: My protfolio project for this class

-->

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Adrian's Projects</title>
    <link rel="stylesheet" href="/css/index.css">
</head>

<body>

    <header>
        <h1>Class Projects</h1>
    </header>


    <h3>List of Projects:</h3>
    <p>Here is a list of projects that I have done or I am currently working on </p>

    <ul>
        <li>First project: <a href="/projects/know-each-other/adrian-webpage.html" target="_blank">Learn more about me!</a>
        </li>

        <!-- Made a server to host this - need to stop website and host here -->
        <li> <a href="https://agreeable-sea-010b26610.azurestaticapps.net" target="_blank">Dice Roller application</a>
        </li>
        <li>
            <a href="/projects/reg-exp-tester/regexp.html" target="_blank">JavaScript RegExp application</a>
        </li>
        <!-- Made a server to host this -->
        <li><a href="https://mango-bush-037e20810.azurestaticapps.net/" target="_blank">Here is my resume</a></li>
    </ul>


    <footer>
        <p>2021 for Software Enginering </p>
    </footer>

</body>


</html>