<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home</title>
</head>


<h1>Welcome To My Home Page</h1>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit eius cumque dolores quis culpa nihil incidunt fuga,
    perferendis adipisci debitis, animi a perspiciatis necessitatibus, error id similique officia aspernatur quos!</p>


<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nesciunt illum quod ducimus in molestiae iure facilis ex
    impedit ipsum quam sapiente error tempora, culpa eos repellat hic iste vitae voluptatum.

</p>

<p>
    Talk about the use of the webste, enter the item form git hub main from the read me file and just goies over how i
    made this website <br>

    ---
    Description: This project uses node, express middleware, and handlebars for a temping for html. This website is a
    project portfolio for Software Eng. and it is going to be hosted in Azure.

</p>

<p>the socail thing </p>

<div>

    <table>
        <tr>
            <td> 
                <a href="https://github.com/7pereza" target="_blank"><img src="/img/Octicons-mark-github.svg" title="GItHub" alt="Github homepage link" width="100" height="100" border="0" /> </a>
            </td>
                
            <td> 
                <a href="https://www.linkedin.com/in/adrian-perez-9253241a4/" target="_blank"><img src="/img/LinkedIn_logo_initials.png" title="Linkedin" alt="Linkedin homepage link" width="100" height="100" border="0" /> </a>
            </td>
                
            <td>Icon three: none</td>
        </tr>
        
    </table>

    {{!-- <br> for handshack
    <a href="https://www.linkedin.com/in/adrian-perez-9253241a4/" target="_blank"><img
            src="/img/LinkedIn_logo_initials.png" title="Linkedin" alt="Linkedin homepage link" width="100" height="100"
            border="0" /> </a> --}}

</div>