<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Projects</title>
</head>

<h1>List Of Projects</h1>

<div>
    <h2>Personal Projects</h2>

    <h3>Pihole</h3>
    <p>
        In short, Pi-hole is an ad blocker for your home network, I am running this on my raspberry pi 3 B+ which is running Raspberry Pi OS. I also did additional configuration where it has over 200,000 domains on a blocklist,  the network DNS, and DCHP server. To see more about Pi-hole check the home page. <br>
        <a href="https://pi-hole.net/" target="_blank">Link: Pi-hole</a>
    </p>

    <h3>Home Assistant</h3>
    <p>
        Home Assistant helps you do home automation by giving you local control and lets you connect a wide variety of devices to it instead of buying one brand of devices. I connected my phone to Home Assitant to control some devices like a pair of RGB lights where I can control individual light bulbs or run a <a href="https://www.home-assistant.io/integrations/scene/" target="_blank">scene</a>. <br> 
        <a href="https://www.home-assistant.io/" target="_blank">Link: Home-Assistant</a>
    </p>

    <h3>Docker</h3>
    <p>
        I am running Docker on a spare computer where it is running Ubuntu Server, I installed Docker where I learned how to use and run different containers. I later installed Docker compose and ran some containers using a YML file, a container that I have run constantly is Home Assistant  <br> 
        <a href="https://www.docker.com/" >Link: Docker</a> 
    </p>


</div>

<div>
    <h2>Mini Class Projects</h2>

    <h3>Regular Expressions</h3>
    <p>
        Made my own simple regular expressions where you can put in a string in a text box then in another text box blow
        you enter what to search for, it will find the first occurrence with in the string. To check if it's true or
        false click the button.
        <br>
        <a href="/reg-exp-tester" target="_blank">Link: reg-exp-tester</a>
    </p>
    <center>
        <img src="/img/reg-exp.png" alt="reg-exp image" title="regular expressions" width="50%" height="50%">
    </center>

    <h3>Dice Roller</h3>
    <p>
        Made a simple dicer roller webpage where once the page is full loaded it will automatically roll two six sided
        dice, to roller again hit the button.
        <br>
        <a href="/dice-roller" target="_blank">Link: Dice Roller</a>
    </p>

    <center>
        <img src="/img/dice-roller.png" alt="Dice roller image" title="Dice Roller" width="50%" height="50%">
    </center>

</div>

<div>
    <h2>Team Class Project: EZscrumEZgo</h2>
    {{!-- https://ezscrumezgo.azurewebsites.net/ this one works --}}
    
    <h3> Health Insurance Calculator </h3>
    <p>
        This was one of the first projects while working in a team using scrum framework, the website is not up but here is the <a href="https://github.com/dya-create/health-insurance-riskcalulator" target="_blank" >GitHub repository</a>. In short a user would enter some health information into a form and it would redirect them to a new page base on the input. 

    </p>
    
    <center>
    <img src="/img/health-form.png" width="50%" height="50%">
    </center>
    
    <h3>Chat App</h3>
    <p>
        This class project we work in a team building a website where a user can send text messages to other users, the current state of the application works as a group chat. The program uses Firebase as a way for user to make a account or sign in using there existing google account.
        <a href="https://github.com/dya-create/chatAppSE" target="_black">GitHub link</a>

    </p>

    <center>
        <img src="/img/chatapp-home.png" width="50%" height="50%">
        <img src="/img/login-page.png" width="50%" height="50%">
    </center>
    
</div>

<div>
    <h2>Team Class Project: Iternation Satation </h2>
    <p>
        This class inloved working with multiple technologies such as using Visual Studio 2019 to code in C++ and C#, working epic games Unreal Engine 4, and working with a custom file format (ali file) to read input. The oveall goal was to read in a file that had data to build and render something in the Unreal Engine. 
        <br>
        <a href="https://github.com/EricJPogue/Aidan" target="_black">GitHub repo to learn more</a> 
    </p>

    <center>
        <img src="/img/adian-menu.png" width="50%" height="50%">
        <img src="/img/UE4-render.png" width="50%" height="50%">
    </center>
    

    <p>
        Some other useful links are:
        <br>
        <a href="https://witty-meadow-055b73d10.1.azurestaticapps.net/" target="_black">Teams website for the project</a>
        <br>

        <a href="https://gamejolt.com/games/aidan-interactive-rendering/703091" target="_black"> Gamejolt where the program is hosted (might need a invite) </a>
    </p>

</div>

<div>
    <h2>Mobile App Project</h2>

    <p>
        Made an Andriod mobile application around the fast-food franchise Dunkin Donuts, on the main screen the user enters the number of calories they want to consume. Once entered it will show a list of possible items that meets the calorie limit and the user can select a item to learn more information. 

    </p>

    <center>
        <img src="/img/Dunkin-app.png" width="85%" height="50%">
    </center>

 </div>
