<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Projects</title>
</head>

<h1>List Of Projects</h1>

{{!-- fix the iamge size by have defalu tpx sixe for all of the images --}}


<div>
    <h2>Mini Class Projects</h2>

    <h3>Regular Expressions</h3>
    <p>
        Made my own simple regular expressions where you can put in a string in a text box then in another text box blow
        you enter what to search for, it will find the first occurrence with in the string. To check if it's true or
        false click the button.
        <br>
        <a href="/reg-exp-tester" target="_blank">Link: reg-exp-tester</a>
    </p>
    <center>
        <img src="/img/reg-exp.png" alt="reg-exp image" title="regular expressions">
    </center>

    <h3>Dice Roller</h3>
    <p>
        Made a simple dicer roller webpage where once the page is full loaded it will automatically roll two six sided
        dice, to roller again hit the button.
        <br>
        <a href="/dice-roller" target="_blank">Link: Dice Roller</a>
    </p>

    <center>
        <img src="/img/dice-roller.png" alt="Dice roller image" title="Dice Roller">
    </center>

</div>

<div>
    <h2>Team Class Project: EZscrumEZgo</h2>
    {{!-- https://ezscrumezgo.azurewebsites.net/ this one works --}}
    
    <h3> Health Insurance Calculator </h3>
    <p>
        This was one of the first project while working in a team using scrum framework, the website is not up but here is the <a herf="https://github.com/dya-create/health-insurance-riskcalulator">GitHub repository</a>. In short a user would enter some health information into a form and it would redirat them to a new page base on the input 

    </p>
    <img src="/img/health-form.png">
    


    <h3>Chat App</h3>
    <p>
        This class project we work in a team building a website where a user can send text messages to other users, the current state of the application works as a group chat. The program uses Firebase as a way for user to make a account or sign in using there existing google account.
        <a href="https://github.com/dya-create/chatAppSE" target="_black"> GitHub link</a>

    </p>
    
    <img src="/img/chatapp-home.png">
    <img src="/img/login-page.png">

</div>

<div>
    <h2>Team Class Project: Iternation Satation </h2>
    <p>
        This class inloved working with multiple technologies such as using Visual Studio 2019 to code in C++ and C#, working epic games Unreal Engine 4, and working with a custom file format (ali file) to read input. The oveall goal was to read in a file that had data to build and render something in the Unreal Engine. 
        <br>
        <a href="https://github.com/EricJPogue/Aidan" target="_black">GitHub repo to learn more</a> 
    </p>
    <img src="/img/adian-menu.png">
    <img src="/img/UE4-render.png">

    <p>
        Some other useful links are:
        <br>
        <a href="https://witty-meadow-055b73d10.1.azurestaticapps.net/" target="_black">Teams website for the project</a>
        <br>

        <a href="https://gamejolt.com/games/aidan-interactive-rendering/703091" target="_black"> Gamejolt where the program is hosted (might need a invite) </a>
    </p>

</div>