<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Projects</title>    
</head>

<h1>List Of Projects</h1>

{{!-- when doing each project give it a little de befiring and epxwl what the project is and made witha screen shot  --}}


<h2>Personal</h2>
<ul>
    <li><a href="/reg-exp-tester" target="_blank">reg-exp-tester</a></li>
    <li><a href="/know-each-other" target="_blank">know-each-other</a></li>
    <li><a href="/dice-roller" target="_blank">Dice Roller</a></li>
    {{!-- <li><a href="https://mango-bush-037e20810.azurestaticapps.net/" target="_blank">Resume</a></li> --}}
    <li></li>
</ul>

<h2>Team Class Project: EZscrumEZgo)</h2>
<p>took this class during fall 2021<p>
** note the links are down
<ul>
    <li> <a href="https://ezscrumbmi.azurewebsites.net/" target="_black"> Health Inserance calc <a> 
        
    </li>
    <li> <a href="https://ezmessage.azurewebsites.net/" target="_black"> Chat app </a> </li>

</ul>


<h2>Team Class Project: Iternation Satation </h2>
<p>spring of 2022 </p>
<p><a href="https://github.com/EricJPogue/Aidan">Main teams working GitHub repo</a></p>
<p><a href="https://witty-meadow-055b73d10.1.azurestaticapps.net/">Team website for the project</a></p>
<p><a href="https://gamejolt.com/games/aidan-interactive-rendering/703091"> Gamejolt place where the program is hosted (might need a invite) </a></p>



add the project that we are doing 
the team website 
the repos ti it also 


