<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Projects</title>    
</head>


<h1>List of projects</h1>

<h2>Personal</h2>
<!--get the small project i code in this repo and redo the resume and about me page and put into this one to make it look better-->
<ul>
    <li><a href="/reg-exp-tester" target="_blank">reg-exp-tester</a></li>
    <li><a href="/know-each-other" target="_blank">know-each-other</a></li>
    <li><a href="https://agreeable-sea-010b26610.azurestaticapps.net/" target="_blank">Dice Roller</a></li>
    <li><a href="https://mango-bush-037e20810.azurestaticapps.net/" target="_blank">Resume</a></li>
    <li></li>
</ul>

<h2>Team Class Project: EZscrumEZgo)</h2>
<p>took this class during fall 2021<p>
<ul>
    <li> <a href="https://ezscrumbmi.azurewebsites.net/" target="_black"> Health Inserance calc <a> 
        
    </li>
    <li> <a href="https://ezmessage.azurewebsites.net/" target="_black"> Chat app </a> </li>

</ul>


<h2>Team Class Project: Iternation Satation </h2>
<p>spring of 2022 </p>
add the project that we are doing 
the team website 
the repos ti it also 


