<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Resume</title>
</head>


{{!-- https://stackoverflow.com/questions/14081128/how-to-embed-a-pdf-viewer-in-a-page
--}}

<h1>Resume</h1>

will use this to show mu resume in a pdf view ?? and can downlowd it as one

<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa exercitationem inventore dolorum molestiae recusandae
  quaerat aperiam minus alias delectus debitis odio rem, possimus, repudiandae aliquam maxime tempore perspiciatis a
  distinctio.

</p>


<center>

<object data="test1.pdf" type="application/pdf" style="width: 100%; height: 100vh;">
  <p>Alternative text - include a link <a href="test1.pdf">to the PDF!</a></p>
</object>
</center>


<p>soehngoina adf asdf aes nsfgdjytj </p>