<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Resume</title>
</head>

<h1>Resume</h1>

<p>
  Here is my resume update on May 2022
</p>

<center>
  <object data="AdrianJPerez_Resume2022.pdf" type="application/pdf" style="width: 100%; height: 90vh;">
    <p>Alternative text - include a link <a href="AdrianJPerez_Resume2022.pdf">to the PDF!</a></p>
  </object>
</center>

<p>
  <a href="https://meritpages.com/Adrian-Perez/5775136" target="_blank">Merit Pages - Dean List</a>
  <br>
  <a href="https://www.credly.com/badges/e8ac9826-0d49-441c-82aa-45e8a050fe17/public_url"> AWS Academy Graduate </a>

</p>


