<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Resume</title>    
</head>

<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa exercitationem inventore dolorum molestiae recusandae quaerat aperiam minus alias delectus debitis odio rem, possimus, repudiandae aliquam maxime tempore perspiciatis a distinctio.

</p>
