/* 
i don not think i will need this css file 
*/

body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 50px;
    background-color: azure;
}


h1 {
    text-align: center;
    text-decoration-style: solid;
    text-decoration-line: underline;
}

h3{
    text-decoration-line: underline;

}

footer{
    border: solid;
    border-top: solid;
    text-align: center;
    padding: 10px;
    margin-top: 100px;
}
